body {
  color: rgb(235 , 219 , 178);
  color: rgb( 29 ,  32 ,  33);
  color: rgb(253 , 157 ,  79);
  color: rgb( 40 ,  40 ,  40);
  color: rgb(146 , 131 , 116);
  color: rgb(204 ,  36 ,  29);
  color: rgb(251 ,  73 ,  52);
  color: rgb(152 , 151 ,  26);
  color: rgb(184 , 187 ,  38);
  color: rgb(215 , 153 ,  33);
  color: rgb(250 , 189 ,  47);
  color: rgb( 69 , 133 , 136);
  color: rgb(131 , 165 , 152);
  color: rgb(177 ,  98 , 134);
  color: rgb(211 , 134 , 155);
  color: rgb(104 , 157 , 106);
  color: rgb(142 , 192 , 124);
  color: rgb(168 , 153 , 132);
  color: rgb(235 , 219 , 178);
}
