# snippets for all

priority -1

snippet ==
#======================================================

endsnippet

snippet --
#------------------------------------------------------

endsnippet

snippet today "today"
`env LC_TIME=C date '+%Y/%m/%d (%a)'`
endsnippet

snippet now "now"
`env LC_TIME=C date '+%H:%M:%S'`
endsnippet

