snippet ==
=======================================================

endsnippet

snippet --
<!---------------------------------------------------->

endsnippet
	
snippet E
<!---------------------------------------------------->
## `env LC_TIME=C date '+%Y/%m/%d (%a)'`

endsnippet

