# snippets for vim

snippet ==
"======================================================

endsnippet

snippet --
"------------------------------------------------------

endsnippet

#------------------------------------------------------
# control
#------------------------------------------------------

snippet if "if"
if ${1:expr}
elseif ${2:expr}
else
endif
endsnippet

snippet elif "elseif"
elseif ${1:expr}
endsnippet

snippet el "else"
else
endsnippet

snippet for
for var in list
endfor
endsnippet

snippet wh
while expr
endwhile
endsnippet

#------------------------------------------------------
# function
#------------------------------------------------------

snippet func "function"
func ${1:FuncName}(${2:arg1})
endfunc

endsnippet

