# gitconfig

[user]
  name = username
  email = username@example.com
[core]
  autocrlf = input
  quotepath = false
  pager = less
  editor = vim
  excludesfile = ~/.gitignore_global

[pull]
  ff = only
[merge]
  tool = vimdiff
  ff = false
[mergetool]
  prompt = false
[diff]
  tool = vimdiff
[difftool]
  prompt = false

[alias]
  graph     = log --graph --pretty=format:'%C(red)%h %C(green)%cd %C(blue)%an %C(yellow)%d %C(reset)%s' --date=format-local:'%Y/%m/%d %H:%M'
  graph-all = log --graph --pretty=format:'%C(red)%h %C(green)%cd %C(blue)%an %C(yellow)%d %C(reset)%s' --date=format-local:'%Y/%m/%d %H:%M' --all
  co = checkout
  dd = difftool -d

## wsl
[credential]
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe

## gitbash/msys2
#[credential]
#  helper = manager-core
