<meta vim:set syntax=markdown nowrap:>
<meta charset="utf-8">
<link rel="stylesheet" href="default.css">

**Title**

Markdeep
=======================================================

<!---------------------------------------------------->

# Markdown

- a_b_c
- [TODO]
- [DONE]
- *italic*
- **bold**

-------------------------------------------------------

## Image

![icon](https://tktwr.github.io/memo/images/icon.png)
![icon](https://tktwr.github.io/memo/images/icon.png)

## Link

- [google](https://www.google.com/)

## List

- aaa
  - bbb
    - ccc
    - ccc
  - bbb
- aaa
  - bbb

## Number List

1. aaa
2. aaa

0. bbb
0. bbb

## Checkbox List

- [ ] aaa
- [x] bbb

## Table

|   | a | b | c |
|---|---|---|---|
| A | 1 | 2 | 3 |
| B | 1 | 2 | 3 |

## Details

<details>
<summary>Summary</summary>
Detail description
</details>

<style class="fallback">body{visibility:hidden}</style>
<script src="markdeep.min.js"></script>
<script src="https://casual-effects.com/markdeep/latest/markdeep.min.js"></script>
